<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingke.apiplatform.mapper.ProtocolTypeMapper" >
  <resultMap id="BaseResultMap" type="com.qingke.apiplatform.model.ProtocolType" >
    <result column="protype_numb" property="protypeNumb" jdbcType="INTEGER" />
    <result column="protype_name" property="protypeName" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.qingke.apiplatform.model.ProtocolType" >
    insert into protocoltype (protype_numb, protype_name)
    values (#{protypeNumb,jdbcType=INTEGER}, #{protypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qingke.apiplatform.model.ProtocolType" >
    insert into protocoltype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="protypeNumb != null" >
        protype_numb,
      </if>
      <if test="protypeName != null" >
        protype_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="protypeNumb != null" >
        #{protypeNumb,jdbcType=INTEGER},
      </if>
      <if test="protypeName != null" >
        #{protypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>